body {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.logo img{
    width: 50%;
}

.menu {
    margin-bottom: 0;
}

.navigation a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 610;
    font-size: 1.1rem;
}

.navigation a:hover {
    color: inherit;
}

.navigation a.active_link {
    color: var(--secondary-color);
}

.mobile_menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}

/* Login button */
.btn.secondary_btn {
    background: white;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 3px 30px;
}

.btn.secondary_btn:hover {
    background: rgb(248, 247, 247);
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 3px 30px;
    transition: .5s ease-out;
}

.login_btn {
    color: var(--text-color);
    text-decoration: none;
}

.login_btn:hover {
    color: var(--text-color);
    text-decoration: none;
}
/* Login button */

/* Register button */
.btn.primary_btn {
    padding: 3px 20px;
    background: var(--secondary-color);
    color: var(--white-color);
    border-radius: 20px;
    border: none;
    text-decoration: none;
}

.btn.primary_btn:hover {
    padding: 3px 20px;
    background: #f09618;
    color: var(--white-color);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    transition: .5s ease-out;
}

.register_btn {
    text-decoration: none;
    color: white;
}

.register_btn:hover {
    text-decoration:none;
    color: white;
}

/* Register button */

.sticky_header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left:0;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: #fff;
    z-index: 999;
    transition: .5s ease-out;
}